.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.welcome {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 18px;
}